        * {
            font-family: 'Saira', sans-serif;
            margin: 0;
            padding: 0;
        } 

        a {
            text-decoration: none !important;
            color: #555555;
        }
        
        main{
            margin-bottom: 25px;
        }

        a:hover {
            color: #555555;
        }
        
        body {
            background-color: #eeeeee;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
        
        #myHeader {
            background-color: rgb(255, 255, 255);
            height: 100px;
        }
        
        #myNav {
            height: 60px;
            background-color: rgb(204, 204, 204);
        }
        
        .headerLink {
            position: relative;
        }
        
        .headerLink a {
            position: relative;
            display: block;
            height: 100%;
            width: 100%;
            opacity: 70%;
        }
        
        .headerLink:hover {
            background-color: rgb(226, 226, 226) !important;
        }
        
        .navLink {
            position: relative;
        }
        
        .navLink a {
            position: relative;
            display: block;
            height: 100%;
            width: 100%;
            opacity: 70%;
        }
        
        .navLink:hover {
            background-color: rgb(235, 231, 231) !important;
        }
        
        .navSelected {
            border-bottom: 4px solid white !important;
        }
        
        #logo a {
            display: block;
            background: url(../../images/logo-jrs.png) no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
        }
        
        .linkText {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
        }
        
        .bottomText {
            padding-bottom: 0px;
        }
        
        #burger-menu {
            background: url(../../images/burger-menu.png) no-repeat center;
        }
        
        #user-welcome {
            background: url(../../images/sharon.png) no-repeat center;
            background-size: 42px 42px;
        }
        
        #contacts {
            background: url(../../images/contacts.png) no-repeat center;
        }
        
        #messages {
            background: url(../../images/messages.png) no-repeat center;
        }
        
        #wanted {
            background: url(../../images/wanted.png) no-repeat center;
        }
        
        #my-board {
            background: url(../../images/board.png) no-repeat center;
        }
        
        #notifications {
            background: url(../../images/notification.png) no-repeat center;
        }
        
        #statics {
            background: url(../../images/statistics.png) no-repeat center;
        }
        
        #search {
            background: url(../../images/search-icon.png) no-repeat center;
        }
        
        .forList {
            position: relative;
            height: 300px;
            border: 1px solid white;
            margin: 10px;
            border-radius: 12px;
            background-color: rgb(199, 199, 199);
        }
        
        .jobDetails {
            color: black;
            position: relative;
            background: 50% 5% no-repeat;
            background-size: 75px 75px;
            display: block;
            height: 100%;
            width: 100%;
        }

        .forList:hover {
            background-color: rgb(228, 228, 228);
        }

        .jobDetails h6 {
            position: absolute;
            top: 85px;
            left: 15px;
            font-weight: bold;
        }

        .jobDetails ul {
            position: absolute;
            left: 5px;
            top: 115px;
            list-style-position: outside;
        }

        .locationIcon {
            list-style: url(../../images/small_loaction_icon.png);
        }

        .typeIcon {
            list-style: url(../../images/small_clock_icon.png);
        }

        .paymentIcon {
            list-style: url(../../images/small_dollar_icon.png);
        }

        .ratingOnCard {
            display: block;
            height: 50px;
            width: 150px;
            position: absolute;
            bottom: 0;
            left: calc(50% - 75px);
            background-color: white;
            border-radius: 12px 12px 0 0;
            text-align: center;
            line-height: 50px;
            font-size: 25px;
            font-weight: bolder;
        }

        #searchFilters {
            height: 110px;
        }
        
        .sort {
            margin-top: calc((110px - 38px)/2);
            width: 125%;
            margin-left: 15%;
        }

        /* ----- Jobs Details ----- */
        .backSearch {
            position: relative;
            widows: 90%;
            top: 40px;
            font-size: 20px;
            font-weight: bold;
            background: url(../../images/backarrow.png) no-repeat;
            padding-left: 40px;
            color: black;
        }

        .backToSearchRow {
            height: 100px;
            border-bottom: white solid 2px;
        }  

        .companyHeader {
            height: 100px;
            padding-top: 25px;
            text-align: center;
        } 

        .companyName {
            background: url(../../images/companies/circle.png) no-repeat;
            background-size: 50px;
            width: 200px;
            margin: 0 auto;
        }  

        .companyRating {
            width: 125px;
            margin: 0 auto;
            background: url(../../images/star.png) no-repeat;
            background-size: 40px;
            margin-top: 10px;
        }  

        .cardUL {
            margin-left: 5%;
            padding-left:15px;
        }  

        .description {
            top: 50px;
            left: 5px;
            width: 90%;
        }

        .applyBtn {
            display: block;
            height: 50px;
            width: 200px;
            border-radius: 12px;
            background-color: orange;
            text-align: center;
            line-height: 50px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            color: black;
            font-weight: bold;
            border: 0;
        }

        .applyBtn:hover{
            background-color: rgb(255, 183, 49) ;
            color: black
        }

        /* ----- Jobs Application ----- */
        .aboveForm {
            height: 200px;
        }

        .formHeader h2{
            text-align: center;
            margin: 0 auto !important;
        }

        .formRow .applyLabel , .formRow section {
            font-weight: bold;
            margin-top: 40px;
            width: 100%;
            text-align: center;
        }

        label textarea, .textBoxes {
            padding-right: 5px;
            padding-left: 5px;
            border-radius: 12px;
            border: none;
            color: rgba(0, 0, 0, 0.63);
        }

        .checkboxContainer {
            position: relative;
        }

        .checkboxContainer text{
            margin-left: 15px;
        }

        .checkboxes {
            margin-top: 5px;
        }

        .submitApplication p{
            font-weight: bold;
            width: 300px;
            margin: 0 auto;
            text-align: center;
            margin-top: 40px;
        }

        /* ----- Login ----- */
        #login {
            display: block;
            width: 100%;
            align-items: center;
        }

        #login-bar {
            width: 100%;
            height: 600px;
            background: url(../../images/search-bg.png) no-repeat center;
            background-size: 100% 100%;
            margin: 0 !important;
            position: relative;
        }

        #loginBox {
            padding-top: 54.5px;
            position: relative;
            width: 30%;
            height: 155px;
            background-color: rgba(0, 0, 0, 0.58);
            background-size: 100% 100%;
            top: 93.5px;
        }

        input {
            padding-left: 5px;
            padding-right: 5px;
            color: rgba(0, 0, 0, 0.6);
        }

        #login input {
            width: 100%;
            height: 46px;
            margin: 0 auto;
            border-radius: 12px;
            border: 0;
        }

        #userNameInp {
            display: inline-block;
            width: 30%;
            opacity: 100%;
            bottom: 54px;
            margin-left: 5%;
            margin-right: 5%;
        }   

        #passInp {
            display: inline-block;
            opacity: 100%;
            width: 30%;
            left: 450px;
            bottom: 54px;
            margin-left: 5%;
            margin-right: 5%;
        }

        #loginButton {
            display: inline-block;
            border: 0;
            width: 10% !important;
            background-color: orange;
            margin-left: 5%;
            margin-right: 5%;
            color: black !important;
        }

        #loginButton:hover {
                background-color: rgb(255, 183, 49) ;
        }

        .underLineLogin h1{
            margin: 0 auto;
            width: auto !important;
            font-size: 48px;
            color: orange;
            margin-top: 30px;
        }

         .underLineLogin p {
             margin: 0 auto;
             font-size:18px;
             margin-top: 30px;
             text-align: center;
             width: auto;
         }

         .underLineLogin {
             margin: 0 auto !important;
             text-align: center !important;
             border-left: solid 1px rgba(255, 255, 255, 0.8);
             border-right: solid 1px rgba(255, 255, 255, 0.8);
         }

         .spaceLine {
             height: 60px;
         }

        @media (max-width: 1024px) {
            .side-col {
                display: none;
            }

            header div,
            #myNav div,
            main div {
                margin: 0 auto;
            }

            #myNav {
                height: 80px;
            }

            .forList {
                margin: 0 auto;
                margin-bottom: 5%;
            }

            #logo {
                padding: 0;
            }

            .headerLink:hover, .navLink:hover {
                background-color: transparent !important;
            }
        }
        @media (max-width: 767px) {

            html, body {
                max-width: 100%;
                overflow-x: hidden;
            }

            header , #myNav {
                font-size: 12px;
            }

            #login-bar {
                background-image: url(../../images/mobile-login-bg.jpeg); 
            }

            #loginBox {
                top: 10px;
                border-radius: 12px;
                padding-top: 30px !important;
                background: none;
                padding: 0; 
                width: 80%;
                height: 80%;
                background-color: rgba(0, 0, 0, 0.58);
            }

            #userNameInp, #passInp, #loginButton {
                margin: 0 auto;
                margin-top: 40px !important;
                display: block;
                width: 60% !important;
            }

            .headerLink,
            #logo {
                width: 50px !important;
                padding: 0;
            }

            .navLink {
                width: 90px !important;
            }

            #logo a {
                background-size: 100% 65%;
            }

            #logo {
                width: 100px;
                margin-left: 0;
            }

            .filter-col {
                margin: 0 auto !important;
                width: 150px !important;
                padding: 0;
            }

            .sort {
                margin-left: 0;
                width: 100%;
            }
            
            .underLineLogin {
                border-bottom: solid 1px rgba(255, 255, 255, 0.8);
            }

            textarea {
                width: 80%;
            }
        }
