* {
    margin: 0;
    padding: 0;
    /*border:1px solid blue;*/
}

a {
    text-decoration: none;
}

header,
footer,
main {
    display: block;
}

body {
    background: #171932;
}


/*<----------------------------LOGO!------------------------------------------>*/

header {
    margin-top: 16px;
}

.Logo {
    background-image: url(../images/Logo2.png);
    width: 48px;
    height: 48px;
    display: block;
    background-repeat: no-repeat;
    margin-left: 16px;
    margin-top: 16px;
}

h1.shTour {
    width: 322px;
    height: 40px;
    font-family: Carter One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    padding-left: 80px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}


/*<-------------------------------COVER OF INDEX--------------------------------------->*/

.Cover {
    width: 1600px;
    height: 331px;
    margin-top: 36px;
}

.NY {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    margin-left: 16px;
    margin-top: 11px;
    color: #FFFFFF;
}

h1 #usa {
    margin-left: 18px;
    font-size: 22px;
    font-weight: lighter;
}


/*<--------------------------------THE TICKETS FOR INDEX-------------------------------------->*/

.ticket {
    width: 270px;
    height: 275px;
    background-color: #9B51E0;
    display: inline-block;
    box-shadow: 0px 2px 7px rgba(255, 255, 255, 0.3);
    margin-left: 16px;
    margin-top: 18px;
    border-radius: 5px;
}

.ticket img {
    border-radius: 5px;
}

.ticket span {
    margin-left: 10px;
    color: #FFFFFF;
    margin-top: 16px;
    display: inline-block;
}


/*<-------------------------------PICTURES OF INDEX2--------------------------------------->*/

.FirstPic {
    margin-left: 17px;
    margin-top: 77px;
    width: 255px;
    height: 168px;
    border-radius: 10px;
    margin-bottom: 38px;
}

.topPics {
    margin-left: 20px;
    margin-top: 77px;
    margin-bottom: 38px;
}

#BigPic {
    margin-left: 20px;
    margin-top: 36px;
}

#SecNav {
    margin-left: 17px;
    margin-top: 23px;
}

#SecNav a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#SecNav p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 20px;
}


/*<---------------------------------NAV WITH LOGOS------------------------------------->*/

#Logos img {
    margin-top: 8px;
    margin-left: 16px;
}

#Logos li {
    background-image: url(../images/Item3.png);
    width: 48px;
    height: 48px;
    display: block;
    background-repeat: no-repeat;
    margin-left: 16px;
    margin-top: 8px;
}

#Logos span {
    width: 87px;
    height: 14px;
    font-family: Open Sans;
    font-size: 14px;
    color: #FFFFFF;
    display: block;
    padding-left: 58px;
    padding-top: 15px;
}


/*<-----------------------------MIDDLE OF INDEX2----------------------------------------->*/

.parag {
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}


/*<---------------------------------------------------------------------->*/

.headline {
    width: 206px;
    height: 43px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.option .headline {
    margin-left: 16px;
}

.option .parag {
    margin-left: 17px;
}

#section2 {
    margin-top: 45px;
}

#section3 {
    margin-top: 71px;
}

#section4 {
    margin-top: 80px;
}

#section5 {
    margin-top: 81px;
}


/*<-----------------------FOOTER----------------------------------------------->*/

footer {
    margin-top: 69px;
    background-color: #9B51E0;
}

#little-footer {
    width: 120px;
    height: 24px;
    opacity: 0.4;
    margin-left: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
}

#little-footer #twitter {
    background-image: url(../images/Twitter.png);
    width: 24px;
    height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
}

#little-footer #linkedin {
    background-image: url(../images/Linkedin.png);
    width: 24px;
    height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
}

#little-footer #google {
    background-image: url(../images/Google.png);
    width: 24px;
    height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
}

#little-footer #facebook {
    background-image: url(../images/Facebook.png);
    width: 24px;
    height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
}


/*<---------------------------------------------------------------------->*/